@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Color Variables */
:root {
  --dark-gray: #2e2e2e;
  --green: #5dc266;
  --light-green: #eef3e7;
  --light-gray: #f0f2ec;
  --background: white;
}

/* Apply Background & Font */
body {
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--dark-gray);
}
