.header {
  font-family: 'Arial', sans-serif;
  font-size: 28px; 
  font-weight: 400; 
  line-height: 36px; 
  color: #2E2E2E; 
  text-align: center; 
  width: 100%;
  max-width: 327px; 
  margin: 58px auto 32px; 
}
