.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures full centering */
  gap: 16px; 
  // width: 327px; 
  padding: 0 24px;
  margin: 0 auto;
}


/* Tablet Layout: Switch to 2-column grid */
@media (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
}
